.TaskAddingPanel {
    width: 100%;
    padding: 30px;
    background-color: white;
    border: 2px solid #555;
    box-shadow: 2px 2px 4px 3px #999;
    margin-bottom: 30px;
}

.TaskAddingPanel__Header {
    border-bottom: 2px solid #555;
    margin-bottom: 40px;
}

.TaskAddingPanel__headerTitle {
    font-weight: 400;
}

.TaskAddingPanel_Form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.TaskAddingPanel_Input {
    padding: 10px;
    flex-basis: 75%;
    flex-grow: 1;
    text-transform: uppercase;
    border: 2px solid #555;
}

.TaskAddingPanel_Input:focus {
    outline: 4px solid teal;
}

.TaskAddingPanel__AddTaskButton {
    margin-left: 5px;
    flex-basis: 20%;
    flex-grow: 1;
    background-color: teal;
    color: white;
    padding: 10px;
    border: 2px solid #555;
}

.TaskAddingPanel__AddTaskButton:hover {
    background-color: hsl(180, 100%, 33%);
    color: black;
    cursor: pointer;
    border-color: #222;
}

.TaskAddingPanel__AddTaskButton:active {
    background-color: hsl(180, 100%, 43%);
}

@media (max-width:480px) {
    .TaskAddingPanel_Input {
        flex-basis: 100%;
        flex-grow: 1;
        margin-bottom: 5px;
    }
    .TaskAddingPanel__AddTaskButton {
        margin-left: 0px;
        flex-basis: auto;
        flex-grow: 1;
    }
}