.TaskListToDoPanel {
    width: 100%;
    padding: 30px;
    background-color: white;
    border: 2px solid #555;
    box-shadow: 2px 2px 4px 3px #999;
    margin-bottom: 30px;
}

.TaskListToDoPanel__Header {
    border-bottom: 2px solid #555;
    margin-bottom: 40px;
}

.TaskListToDoPanel__headerTitle {
    font-weight: 400;
}

.TaskListToDoPanel__TaskList {
    padding-left: 0px;
}

.TaskListToDoPanel__ListItem {
    list-style-type: none;
    border-bottom: 2px solid #555;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.TaskListToDoPanel__Task {
    flex-basis: 78%;
    margin-left: 10px;
}

.TaskListToDoPanel__Task--done {
    text-decoration: line-through;
}

.TaskListToDoPanel__Button {
    min-height: 30px;
    flex-basis: 10%;
    background-color: #008000;
    border: 2px solid #555;
    color: white;
}

.TaskListToDoPanel__Button:hover {
    background-color: hsl(120, 100%, 35%);
    border-color: #222;
    cursor: pointer;
    background-image: url(../images/checked--small.png);
    background-position: center;
    background-repeat: no-repeat;
}

.TaskListToDoPanel__Button--done {
    background-image: url(../images/checked--small.png);
    background-position: center;
    background-repeat: no-repeat;
}

.TaskListToDoPanel__Button:active {
    background-color: hsl(120, 100%, 50%);
}

.TaskListToDoPanel__Button--remove {
    background-color: darkred;
    background-image: url(../images/basket.png);
    background-position: center;
    background-repeat: no-repeat;
}

.TaskListToDoPanel__Button--remove:hover {
    background-color: hsl(0, 100%, 35%);
    border-color: #222;
    background-image: url(../images/basket.png);
    background-position: center;
    background-repeat: no-repeat;
}

.TaskListToDoPanel__Button--remove:active {
    background-color: hsl(0, 100%, 45%);
}

@media (max-width:635px) {
    .TaskListToDoPanel__ListItem {
        padding: 20px 0px;
        border-bottom: 2px solid #555;
    }
    .TaskListToDoPanel__Task {
        flex-grow: 1;
        text-align: center;
    }
    .TaskListToDoPanel__Button {
        flex-basis: 100%;
        flex-grow: 1;
    }
    .TaskListToDoPanel__Button--remove {
        flex-grow: 1;
    }
}