.taskListToDoPanel {
    width: 100%;
    padding: 30px;
    background-color: white;
    border: 2px solid #555;
    box-shadow: 2px 2px 4px 3px #999;
    margin-bottom: 30px;
}

.taskListToDoPanel__header {
    border-bottom: 2px solid #555;
    margin-bottom: 20px;
}

.taskListToDoPanel__headerTitle {
    font-weight: 400;
}

.taskListToDoPanel__taskList {
    padding-left: 0px;
}

.taskListToDoPanel__listItem {
    list-style-type: none;
    border-bottom: 2px solid #555;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.taskListToDoPanel__task {
    flex-basis: 78%;
    margin-left: 10px;
    font-size: 20px;
}

.taskListToDoPanel__task--done {
    text-decoration: line-through;
}

.taskListToDoPanel__button {
    min-height: 30px;
    flex-basis: 10%;
    background-color: hsl(120, 100%, 25%);
    border: 2px solid #555;
    color: white;
    transition: background-color 1s;
}

.taskListToDoPanel__button:hover {
    background-color: hsl(120, 100%, 35%);
    border-color: #222;
    cursor: pointer;
    background-image: url(../images/checked--small.png);
    background-position: center;
    background-repeat: no-repeat;
}

.taskListToDoPanel__button--done {
    background-image: url(../images/checked--small.png);
    background-position: center;
    background-repeat: no-repeat;
}

.taskListToDoPanel__button:active {
    background-color: hsl(120, 100%, 50%);
}

.taskListToDoPanel__button--remove {
    background-color: darkred;
    background-image: url(../images/basket.png);
    background-position: center;
    background-repeat: no-repeat;
}

.taskListToDoPanel__button--remove:hover {
    background-color: hsl(0, 100%, 35%);
    border-color: #222;
    background-image: url(../images/basket.png);
    background-position: center;
    background-repeat: no-repeat;
}

.taskListToDoPanel__button--remove:active {
    background-color: hsl(0, 100%, 45%);
}

.taskListToDoPanel__button--additionalAction {
    background-color: teal;
    background-image: none;

}
.taskListToDoPanel__button--additionalAction:hover {
    background-color: hsl(120, 100%, 25%);
    background-image: none;

}
.taskListToDoPanel__button--additionalAction:active {
    background-color: hsl(120, 100%, 35%);
}

.taskListToDoPanel__button--hideDone {}

@media (max-width:635px) {
    .taskListToDoPanel__listItem {
        padding: 20px 0px;
        border-bottom: 2px solid #555;
    }
    .taskListToDoPanel__task {
        flex-grow: 1;
        text-align: center;
    }
    .taskListToDoPanel__button {
        flex-basis: 100%;
        flex-grow: 1;
    }
    .taskListToDoPanel__button--remove {
        flex-grow: 1;
    }
}